body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}
h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

input, .dash-dropdown, .dash-slider {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.graph-container {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
